*{
    margin:0;
    padding:0;
}

body{
    
}

#canvas{
    border: 1px solid #000000;
    border-left: none;
    border-right: none;
    height: 300px;
    width:100%;
    margin: 30px 30px 30px 0px;
    background-color:#edf5f3;
}